img{
    width:100%;
}



.loc-pg {
    
        background-image: url("images//mobillocation-24.png");
        width:100vw;
        margin:0;
        background-repeat:round;
        background-attachment: fixed;
        display:flex;
        flex-direction:column;
      
        }
        .rubyjlogo img {
        display:flex;        
        flex-direction:column;
        justify-content:center;
        margin:auto;
        width:70vw;
        
        }
        .loc-nav {
        display:flex;
        flex-direction:row;
        justify-content:center;
        padding-left:20px;
        padding-top: 40px;

        }
        .loc-home-nav a {
           flex:1;
            text-decoration: none;
            font-family: bree,sans-serif;
             font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            
        }
        .loc-about-nav a{
            flex:2;
            padding:20px;
            text-decoration: none;
            font-family: bree,sans-serif;
             font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
        }
        .loc-menu-nav a{
            flex:3;
            padding:20px;
            text-decoration: none;
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
        }
        .loc-contact-nav a{
            flex:4;
            padding:20px;
            text-decoration: none;
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            cursor: pointer;

        }
        .loc-nav a:visited{
            text-decoration: none;
            color: #331C0C;
            
          }

  .loc-grid-1 {
            display:flex;
            flex-direction:column;
        }
        
        .loc-h1 h2{
            
          text-align: center;
          font-family: pacifico, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size:70px;
          text-align: center;
          color:#331C0C;
        }
        .loc-h2 p {
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            padding:20px;
        }
        .loc-h2 ul {
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            padding:20px;
        }
    .loc-grid-2 {
        display:flex;
        flex-direction: column;
    }

    .loc-h3 {
        text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:50px;
        text-align: center;
        color:#331C0C;
    }
    .loc-add-1 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-add-2 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-add-3 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-info-1 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:10px;
    }
    .loc-info-2 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-info-3 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }

.index-pg {
        background-image: url("images/mobilhp-26.png");
        background-size: 100%;
        background-repeat:round;
        background-attachment: fixed;
        margin:0;
        padding:0;
        margin-left: 0;
    }
    .home-pg-nav {
        display:flex;
        flex-direction:column;
        text-align: center;
        padding-top: 200px;
        color:#331C0C;
        
    }
    .home-contact{
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-about {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-menu {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-loc {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-pg-nav a{
        text-decoration: none;
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
       
    }
    .home-pg-nav a:visited{
        text-decoration: none;
        color:#331C0C;
      }
      .index-pg .hp-logo img {
        padding: 20px;
      }

.contact-pg{
    display:flex;
    flex-direction: column;
    background-image: url("images/mobilcontact-25.png");
    background-size: 100%;
    background-repeat:round;
    background-attachment: fixed;
    margin:0;
    padding:0;
    margin-left: 0;

}
  
    .con-grid-1{
        display:flex;
        flex-direction: column;
    }
    .con-h1 {
        text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
        line-height: 15px;
    }
    .con-1-p {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:25px;
        
    }
    .con-line {
        border-top: 3px solid #331C0C;
        width:100vw;
        align-items: center;
        
    }
    .con-grid-2 {
        display:flex;
        flex-direction: column;
    }
    .con-p-2 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:30px;
    }
    .con-logo {
        padding:20px;
    }
.about-pg{
    display:flex;
    flex-direction: column;
    background-image: url("images/about-28.png");
    background-size: 100%;
    background-repeat:round;
    background-attachment: fixed;
    margin:0;
    padding:0;
    margin-left: 0;
}
    

.about-grid-1{
    display:flex;
    flex-direction: column;
}
.about-title{
    text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
}
.about-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:25px; 
}
.about-grid-2 {
    display:flex;
    flex-direction: column;
}
.about-title-2 {
    text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
}
.about-info-2{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px; 
}


* { box-sizing: border-box; }
        img { width: 100%; }
        
.second-line {
     border-top: 3px solid black;
     width:100vw;  
     padding:0;
     margin:0;

 }
.menu-logo img {
    padding:20px;
    padding-bottom: 40px;
}
 


 .menu-pg {
 	background-image: url("images/mobilmenu-27-02.png");
    background-size: cover;
 }





.menu-title h2 {
    text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:90px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
}
.menu-grid-1 {
    display:flex;
    flex-direction: column;
}

.menu-oat-title h3 {
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.oat-info {
    font-family: bree, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px; 
}
.menu-lemon-title h3 {
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.lemon-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px; 
}
.menu-dark-title h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.dark-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;
}
.menu-vanilla-title, h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.vanilla-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;
}
.menu-salted-title h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.salted-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;
}
.menu-brown-title h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.brown-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;

}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #331C0C;
    color: white;
  }

@media (min-width: 768px) {


.index-pg {
    background-image: url("images/hp-27.png");
 	background-size: cover;
}
  .hp-logo img{
    display:flex;
    width:70vw;
    margin:auto;
    text-align: center;
  }
  
}


    