img{
    width:100%;
}
.about-logo{
    padding:20px;
}

.pink-left img{
position:absolute;
top:590px;
left:40px;
width:170px;
}
.pink-right img{
    position:absolute;
    top:300px;
    left:380px;
    padding:0;
    margin:0;
    width:170px;
}
.blue-swirl img{
    position:absolute;
    top:230px;
    left:200px;
    width:70px;
}
.blue-swirl-2 img{
    position:absolute;
    top:630px;
    left:420px;
    width:90px;
}
.twinkleb{
    position:absolute;
    top:360px;
    width:150px;
    height:auto;
    left:20px;
    animation: twinkle 2s ease-in-out 0s infinite;
}
.twinklep{
  position:absolute;
  top:490px;
  left:400px;
  width: 120px;
  margin:auto;
}
.loc-pg {
    
        background-image: url("images//mobillocation-24.png");
        width:100vw;
        margin:0;
        background-repeat:round;
        background-attachment: fixed;
        display:flex;
        flex-direction:column;
      
        }
        .loc-lo img {
        display:flex;        
        flex-direction:column;
        justify-content:center;
        margin:auto;
        width:70vw;
        
        }
        .loc-nav {
        display:flex;
        flex-direction:row;
        justify-content:center;
        padding-left:20px;
        padding-top: 40px;

        }
        .loc-home-nav a {
           flex:1;
            text-decoration: none;
            font-family: bree,sans-serif;
             font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            
        }
        .loc-about-nav a{
            flex:2;
            padding:20px;
            text-decoration: none;
            font-family: bree,sans-serif;
             font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
        }
        .loc-menu-nav a{
            flex:3;
            padding:20px;
            text-decoration: none;
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
        }
        .loc-contact-nav a{
            flex:4;
            padding:20px;
            text-decoration: none;
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            cursor: pointer;

        }
        .loc-nav a:visited{
            text-decoration: none;
            color: #331C0C;
            
          }

  .loc-grid-1 {
            display:flex;
            flex-direction:column;
        }
        
        .loc-h1 h2{
            
          text-align: center;
          font-family: pacifico, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size:70px;
          text-align: center;
          color:#331C0C;
          line-height: 20px;
        }
        .loc-h2 p {
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            padding:20px;
        }
        .loc-h2 ul {
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            padding:20px;
        }
    .loc-grid-2 {
        display:flex;
        flex-direction: column;
    }

    .loc-h3 {
        text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:50px;
        text-align: center;
        color:#331C0C;
    }
    .loc-add-1 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-add-2 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-add-3 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-info-1 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:10px;
    }
    .loc-info-2 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }
    .loc-info-3 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:20px;
    }

.index-pg {
        background-image: url("images/mobilhp-26.png");
        background-size: 100%;
        background-repeat:round;
        background-attachment: fixed;
        margin:0;
        padding:0;
        margin-left: 0;
    }
    .home-pg-nav {
        display:flex;
        flex-direction:column;
        text-align: center;
        padding-top: 200px;
        color:#331C0C;
        
    }
    .home-contact{
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-about {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-menu {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-loc {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:30px;
        padding-bottom:10px;
    }
    .home-pg-nav a{
        text-decoration: none;
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
       
    }
    .home-pg-nav a:visited{
        text-decoration: none;
        color:#331C0C;
      }
      .index-pg .hp-logo img {
        padding: 30px;
      }

.contact-pg{
    display:flex;
    flex-direction: column;
    background-image: url("images/mobilcontact-25.png");
    background-size: 100%;
    background-repeat:round;
    background-attachment: fixed;
    margin:0;
    padding:0;
    margin-left: 0;

}
.con-twinkb img{
    position:absolute;
    top:380px;
    left:-10px;
    width:50px;
    height:auto;
}
.con-twinkp img{
    position:absolute;
    top:380px;
    left:340px;
    width:50px;
    height:auto;
}
  
    .con-grid-1{
        display:flex;
        flex-direction: column;
    }
    .con-h1 {
        text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
        line-height: 15px;
    }
    .con-1-p {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:25px;
        
    }
    .con-line {
        border-top: 3px solid #331C0C;
        width:100vw;
        align-items: center;
        
    }
    .con-grid-2 {
        display:flex;
        flex-direction: column;
    }
    .con-p-2 {
        font-family: bree,sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align:center;
        color:#331C0C;
        font-size:20px;
        padding:30px;
    }
    .con-logo {
        padding:20px;
    }
.about-pg{
    display:flex;
    flex-direction: column;
    background-image: url("images/about-28.png");
    background-size: 100%;
    background-repeat:round;
    background-attachment: fixed;
    margin:0;
    padding:0;
    margin-left: 0;
}
    

.about-grid-1{
    display:flex;
    flex-direction: column;
}
.about-title{
    text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
        line-height: 20px;
}
.about-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:25px; 
}
.about-grid-2 {
    display:flex;
    flex-direction: column;
}
.about-title-2 {
    text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
        line-height: 20px;
}
.about-info-2{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px; 
}


* { box-sizing: border-box; }
        img { width: 100%; }
        
.second-line {
     border-top: 3px solid black;
     width:100vw;  
     padding:0;
     margin:0;

 }
.menu-logo img {
    padding:20px;
    padding-bottom: 40px;
}
 


 .menu-pg {
 	background-image: url("images/mobilmenu-27-02.png");
    background-size: cover;
    margin:0;
 }



.menu-title h2 {
    text-align: center;
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:90px;
        text-align: center;
        color:#331C0C;
        padding:0;
        margin:0;
}
.menu-grid-1 {
    display:flex;
    flex-direction: column;
}

.menu-oat-title h3 {
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.oat-info {
    font-family: bree, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px; 
}
.menu-lemon-title h3 {
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.lemon-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px; 
}
.menu-dark-title h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.dark-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;
}
.menu-vanilla-title, h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.vanilla-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;
}
.menu-salted-title h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.salted-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;
}
.menu-brown-title h3{
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-align: center;
    flex-direction: column;
    width:100vw;
    line-height: 95%;
    color:#331C0C;
}
.brown-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    padding:25px;

}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:17px;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #331C0C;
    color: white;
  }
  .con-des-nav{
      display:none;
  }
  .menu-des-nav{
      display:none;
  }
  .loc-des-nav{
      display:none;
  }
  
.menu-twinkb img{
    position:absolute;
    top:430px;
    width:100px;
    height:auto;
}
.menu-twinkp img{
    position:absolute;
    top:430px;
    width:100px;
    height:auto;
    left:460px;

}
.loc-twinkleb img{
    position:absolute;
    top:900px;
    width:120px;
    height:auto;
    left:70px;
    
 }
 .loc-twinklep img{
    position:absolute;
    top:900px;
    width:100px;
    height:auto;
    left:380px;
 }
 .index-des-nav{
     display:none;
 }
  
@media (min-width: 768px) {


.index-pg {
    background-image: url("images/hp-27.png");
 	background-size: cover;
}
  .hp-logo img{
    display:flex;
    width:70vw;
    margin:auto;
    text-align: center;
  }
  .home-pg-nav{
      display:none;
  }
  .index-line-desktop{
    position:absolute;
    width:1200px;
    height:1.5px;
    background-color: #331C0C;
    top:700px;
    left:100px;
  }
  .index-des-nav{
    display:flex;
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    font-size:17px;
    padding:0px;
    margin:0;
    text-decoration: white;
  }
  .index-des-nav a{
    color:#331C0C;
    text-decoration: none;
    text-align: center;
    padding:30px;
    font-size: 23px;
    cursor: pointer;
    flex-direction:row;
    top:400px;
    position: relative;
    left:400px;
  }
  .twinkleb img {
      position:absolute;
      top:100px;
      width:300px;
      height:auto;
      left:20px;
  }
  .twinklep img{
      position:absolute;
      top:-100px;
      left:700px;
      width:300px;
      height:auto;
  }
  .menu-twinkb img{
      position:absolute;
      top:40px;
      left:150px;
      width:200px;
      height:auto;
  }
  .menu-twinkp img{
     position:absolute;
     top:40px;
     left:-40px;
     width:200px;
     height:auto;
  }
  .pink-left img{
    position:absolute;
    top:200px;
    left:120px;
    width:200px;
    }
    .pink-right img{
        position:absolute;
        top:-20px;
        left:1160px;
        padding:0;
        margin:0;
        width:200px;
    }
    .blue-swirl img{
        position:absolute;
        top:380px;
        left:450px;
        width:70px;
    }
    .blue-swirl-2 img{
        position:absolute;
        top:520px;
        left:840px;
        width:190px;
    }
  
}
@media (min-width: 768px) {
.contact-pg {
    background-image: url("images/contact-27.png");
     background-size: cover;

}
.con-logo img {
    width:20vw;
    margin:auto;
    position:absolute;
    top:700px;
    left:1100px;
}
.con-grid-1 {
    display:grid;
}
.con-h1{
    position:absolute;
    top:50px;
    left:550px;
    line-height: 20px;

}
.con-twinkb img{
    position:absolute;
    top:140px;
    left:930px;
    width:90px;
    height:auto;
}
.con-twinkp img{
    position:absolute;
    top:140px;
    left:430px;
    width:90px;
    height:auto;
}
.con-1-p {
    position:absolute;
    top:250px;
    width:600px;
    font-size: 25px;
    font-family: bree, sans-serif;
    font-weight: 200;
    font-style: italic;
    

}
.con-line{
    position:absolute;
    border-radius: 5px #331C0C;
     width:400px;  
     top:400px;
     left:90px;
}
.con-grid-2{
    display:grid;

}
.con-p-2{
    position: absolute;
    top:350px;
    width:750px;
    left:650px;
    text-align: left;
}
.topnav{
    display:none;
}
.con-des-nav{
   display:flex;
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    font-size:17px;
    padding:0px;
    margin:0;
    text-decoration: white;
}
.con-des-nav a{
    color:#331C0C;
    text-decoration: none;
    text-align: center;
    padding:30px;
    font-size: 23px;
    cursor: pointer;
    
}
.con-line-desktop{
    width:530px;
    height:1.5px;
    background-color: #331C0C;
    position:absolute;
    top:80px;
    left:35px;
}

.loc-line-desktop{
    width:530px;
    height:1.5px;
    background-color: #331C0C;
    position:absolute;
    top:70px;
    left:50px;
}
.loc-pg{
    background-image: url("images/location-26.png");
    background-size: cover;  
    margin:0;
    padding:0;
}
.loc-twinkleb img{
    position:absolute;
    top:200px;
    width:120px;
    height:auto;
    left:740px;
    
 }
 .loc-twinklep img{
    position:absolute;
    top:200px;
    width:100px;
    height:auto;
    left:1070px;
 }
.loc-logo{
    width:20vw;
    margin:0;
    position:absolute;
    top:700px;
    left:1100px; 
    padding:0;

}
.loc-line{
    display:inline-block;
    border-radius: 7px #331C0C;
    width:800px;
    position:absolute;
    top:20px;  
}
.loc-des-nav {
    display:flex;
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    font-size:17px;
    padding:30px;
    text-decoration: white;
}
.loc-des-nav a{
    color:#331C0C;
    text-decoration: none;
    text-align: center;
    padding:30px;
    font-size: 23px;
    cursor: pointer;
}

.loc-grid-1{
    display:grid;
}
.loc-h1 h2 {
    position:absolute;
    top:150px;
    left:100px;
    font-size: 80px;
    text-align: left;
    padding:0;
    margin:0;
}
.loc-h2 p {
    position:absolute;
    top:200px;
    left:40px;
    width:600px;
    text-align:left;
    padding:30px;
}
.loc-h2 ul{
    position:absolute;
    top:500px;
    left:250px;
}
.loc-grid-2{
    display:grid;
}
.loc-h3 h3 {
    position:absolute;
    top:170px;
    left:240px;
}
.loc-info-1{
    position:absolute;
    top:310px;
    left:720px;
    width:500px;
}
.loc-add-1{
    position:absolute;
    top:250px;
    left:760px;
}
.loc-add-2{
position:absolute;
top:390px;
left:770px;
}
.loc-info-2{
    position:absolute;
    top:450px;
    left:720px;
    width:500px;
}
.loc-info-3{
    position:absolute;
    top:570px;
    left:720px;
    width:500px;
}
.loc-add-3{
    position:absolute;
    top:510px;
    left:720px;
    width:500px;
}
.menu-pg{
    margin:0;
    padding:0;
}
.menu-logo{
    width:20vw;
    margin:0;
    position:absolute;
    top:1100px;
    left:1100px; 
    padding:0;
  
}
.menu-des-nav {
    display:flex;
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    font-size:17px;
    padding-top:30px;
    text-decoration: white;

}
.menu-des-nav a{
    color:#331C0C;
    text-decoration: none;
    text-align: center;
    padding:30px;
    font-size: 23px;
    cursor: pointer;
}
.menu-twinkb{
    position:absolute;
    top:40px;
    width:300px;
    left:150px;
}
.menu-twinkp{
    position:absolute;
    top:40px;
    left:900px;
    width:300px;
}
.title-grid{
    display:grid;
}
.menu-title h2{
    position:absolute;
    top:30px;
    left:540px;
    font-size: 90px;
    text-align: left;
    padding:0;
    margin:0;
}
.menu-oat-title{
    position:absolute;
    top:340px;
    left:-300px;
    
}
.oat-info{
    position:absolute;
    top:450px;
    left:150px;
    width:500px;
}
.menu-lemon-title{
    position:absolute;
    top:590px;
    left:-300px;
}
.lemon-info{
    position:absolute;
    top:700px;
    left:150px;
    width:500px;
}
.menu-dark-title{
    position:absolute;
    top:840px;
    left:-300px;
}
.dark-info{
    position:absolute;
    top:950px;
    left:150px;
    width:500px;
}
.menu-grid-2{
    display:grid;
    padding:0;
    margin:0;

}

.menu-vanilla-title{
    position:absolute;
    top:340px;
    left:300px;
}
.vanilla-info{
    position:absolute;
    top:440px;
    left:760px;
    width:500px;
}
.menu-salted-title{
    position:absolute;
    top:590px;
    left:300px;
}
.salted-info{
    position:absolute;
    top:695px;
    left:760px;
    width:500px;
}
.menu-brown-title{
    position:absolute;
    top:840px;
    left:300px;
}
.brown-info{
    position:absolute;
    top:950px;
    left:760px;
    width:500px;
}
.about-grid-1{
    display:grid;
}
.about-pg{
    margin:0;
    padding:0;
}
.about-logo{
    width:20vw;
    margin:0;
    position:absolute;
    top:700px;
    left:1100px; 
    padding:0;
}
.about-line-desktop{
    width:530px;
    height:1.5px;
    background-color: #331C0C;
    position:absolute;
    top:70px;
    left:55px;
}
.about-title{
    position:absolute;
    top:120px;
    left:40px;
}
.about-info{
    width:750px;
    position:absolute;
    top:300px;
    left:50px;
    text-align: left;
}
.about-grid-2 .about-title-2 p {
position:absolute;
top:250px;
left:850px;
width:500px;
}
.about-info-2{
    position:absolute;
    top:340px;
    left:860px;
    width:490px;
    text-align:center;
}
.nav-line-desktop{
    width:520px;
    height:1.5px;
    background-color: #331C0C;
    position:absolute;
    top:70px;
    left:25px;
}
}


@keyframes twinkle {
    from {
        height:20%;
    }
    to{
        height:40%;
    }
}

