img{
    width:100%;
    margin:0;
}



.rubyjlogo{
    width:300px;
    height:100px;
    position:absolute;
    top:950px;
    left:1100px;
}
@media (max-width: 768px) {
    img{
        width:100%;
    }


@media (max-width: 768px) {
   .menu-pg {
    background-image: url("images//Flavours-29.png");
    background-color: 0;
    margin:0;
    margin-bottom: 0;
    background-size: 100%;
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-repeat:round;
   background-attachment: fixed;
  }

    body, .menu-title {
      font-family: pacifico, sans-serif;
      font-weight: 400;
      font-style: normal;
      
     
      
    }

     .title-grid .menu-title h2 {
    font-family: pacifico, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:80px;
    text-align: center;
    
    
    }

    body .menu-oat-title {
        font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:30px;
        text-align: center;
  }

    .menu-oat-title, h3 
    {font-family: pacifico, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:40px;
        text-align: center;
    }

    body, .oat-info {
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:10px;

  }

  .lemon-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:10px;
  }

  .dark-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:10px;
  }

  .vanilla-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:10px;
  }

  .salted-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:10px;
  }

  .brown-info{
    font-family: bree,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:center;
    color:#331C0C;
    font-size:20px;
    padding:10px;
  }
   .oat-line {
    border-top: 1.5px solid black;
    width:570px;
   
}

    .lemon-line {
     border-top: 1.5px solid black;
     width:570px;
    
 }
 
    .dark-line {
     border-top: 1.5px solid black;
     width:570px;
    
 }
 
    .vanilla-line {
     border-top: 1.5px solid black;
     width:570px;
    
 }

    .salted-line {
     border-top: 1.5px solid black;
     width:570px;
    
 }
 
    .brown-line {
     border-top: 1.5px solid black;
     width:570px;
    
 }

    .second-line {
     border-top: 4px solid black;
     width:570px;
     position:absolute;
     top:230px;
    
 }
 
    .main-line {
     border-top: 2px solid black;
     width:570px;
     position:absolute;
     top:50px;
    
 }
 
    .rubyjlogo {
    position:absolute;
    left:30px;
    top:10px;
    width:500px;
    height:200px;
    z-index:-1;
    
 }
 header{
     z-index:1;
 }

    .see-more {
    font-family: bree, sans-serif;
    font-weight: 700;
    font-style: normal;
 }
 

 @media (max-width: 768px) {
      .index-pg {
            background-image: url("images/mobilhp-26.png");
            background-size: 100%;
            background-repeat:round;
            background-attachment: fixed;
            margin:0;
            padding:0;
            margin-left: 0;
          }

          .home-line {
            border-top: 4px solid black;
            width:500px;
            align-items: center;
          }
          
           .home-pg-nav a{
            text-decoration: none;
            font-family: bree,sans-serif;
             font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:40px;
            padding-bottom:30px;
            
            
            }

         body .home-pg-nav {
              position:absolute;
              top:400px;
              left:100px;
              font-family: bree,sans-serif;
             font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:40px;
            padding-bottom:30px;
          }

          .home-pg-nav a:visited{
            text-decoration: none;
            color: black;
          }
        }
         
        @media (max-width: 768px) {
            .loc-pg{
            background-image: url("images//mobillocation-24.png");
            background-size: 100%;
            width:100%;
            background-repeat:round;
            background-attachment: fixed;
            margin:0;
            padding:0;
            margin-left: 0;
            }
            .loc-pg .loc-grid-1{
                display:grid;
            }
            .loc-h1 h2{
                position:absolute;
                top:210px;
                left:100px;
                font-family: pacifico, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size:70px;
                
                
            }
            .loc-h2 p {
                position:absolute;
                top:450px;
                font-family: bree,sans-serif;
                font-weight: 300;
               font-style: normal;
               text-align:center;
               color:#331C0C;
               font-size:20px;
               padding:20px;
            }
            
            .loc-h2 ul{
                position:absolute;
                top:650px;
                left:150px;
                font-family: bree,sans-serif;
                font-weight: 300;
               font-style: normal;
               text-align:center;
               color:#331C0C;
               font-size:20px;
               padding:20px;
            }

            .loc-grid-2{
                display:grid;
                position:absolute;
                top:1000px;
            }

            .loc-grid-2 .loc-h3{
                position:absolute;
                top:-150px;
                left:175px;
                font-size:80px;
            }

            .loc-add-1 {
                position:relative;
                top:40px;
            }
            .loc-add-2 {
                position:relative;
                top:40px;
            }
            .loc-add-3 {
                position:relative;
                top:40px;
            }
            .loc-info-1 {
                position:relative;
                top:20px;
                left:20px;
            }
            .loc-info-2 {
                position:relative;
                top:20px;
                left:20px;
            }
            .loc-info-3 {
                position:relative;
                top:20px;
                left:20px;
            }
            .loc-nav {
            position:absolute;
            top:20px;
            left:85px;
            font-family: bree,sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align:center;
            color:#331C0C;
            font-size:20px;
            padding-right:30px;

         }
            .loc-nav a {
                text-decoration: none;
            color: black;
            }
        }

        @media (max-width: 768px) {

            .about-pg{
                background-image: url("images//mobilaboutus-26.png");
                background-size: 100%;
                width:100%;
                background-repeat:round;
                background-attachment: fixed;
                margin:0;
                padding:0;
                margin-left: 0;
            }
            .about-pg-nav{
                display:grid;
            }
            .about-contact{
                position:absolute;
            }

            .about-home {
                position:absolute;
                left:150px;
            }

            .about-menu{
                position:absolute;
                left:450px;
            }
            .about-loc {
                position:absolute;
                left:250px;
            }
            .about-grid-1{
                display:grid;
        
            }
            .about-title h2 {
                position:absolute;
                top:170px;
                left:170px;
                font-family: pacifico, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size:70px;
                
            }
            .about-info {
                position:absolute;
                top:450px;
                left:20px;
                font-family: bree,sans-serif;
                font-weight: 300;
                font-style: normal;
                text-align:center;
                color:#331C0C;
                font-size:20px;
                padding:20px;
                width:500px;
            }

            .about-grid-2{
                display:grid;
            }
        }