img{
    width:100%;
    margin:0;
}

div, .con-img {
    background-image:url(images//contact-27.png)
}

.rubyjlogo{
    width:300px;
    height:100px;
    position:absolute;
    top:950px;
    left:1100px;
}
